.dot {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 2;
}

.circle {
    cursor: pointer;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 300px;
    z-index: 2;
}

.partPicture {
    position: absolute;
    z-index: 1;
}